# Standard non-SRV MongoDB Atlas Connection String
MONGODB_URI=mongodb://kamranali3404_db_user:qYlGC8iOBw39tPYW@ac-n1cjlhd-shard-00-00.3gspnhp.mongodb.net:27017,ac-n1cjlhd-shard-00-01.3gspnhp.mongodb.net:27017,ac-n1cjlhd-shard-00-02.3gspnhp.mongodb.net:27017/trickleup_task_manager?ssl=true&replicaSet=atlas-x67j7h-shard-0&authSource=admin&appName=taskflowcluster
